@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 242 91% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 231 92% 95%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 142 60% 80%;
    --chart-2: 0 80% 85%;
    --chart-3: 210 30% 70%;
    --chart-4: 180 30% 60%;
    --chart-5: 43 74% 76%;
    --radius: 0.5rem;

    --tag-red: 0 100% 95%;
    --tag-red-foreground: 0 100% 20%;
    --tag-orange: 25 100% 95%;
    --tag-orange-foreground: 25 100% 20%;
    --tag-amber: 45 100% 95%;
    --tag-amber-foreground: 45 100% 20%;
    --tag-yellow: 60 100% 95%;
    --tag-yellow-foreground: 60 100% 20%;
    --tag-lime: 84 100% 95%;
    --tag-lime-foreground: 84 100% 20%;
    --tag-green: 142 90% 95%;
    --tag-green-foreground: 142 76% 20%;
    --tag-cyan: 180 90% 95%;
    --tag-cyan-foreground: 180 83% 20%;
    --tag-blue: 217 100% 95%;
    --tag-blue-foreground: 217 91% 25%;
    --tag-violet: 262 100% 95%;
    --tag-violet-foreground: 262 84% 25%;
    --tag-fuchsia: 312 100% 95%;
    --tag-fuchsia-foreground: 312 84% 25%;
    --tag-black: 240 4.8% 95.9%;
    --tag-black-foreground: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4.8% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 242 91% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 142 70% 30%;
    --chart-2: 0 70% 40%;
    --chart-3: 210 30% 70%;
    --chart-4: 180 30% 60%;
    --chart-5: 43 74% 76%;

    --tag-red: 0 80% 25%;
    --tag-red-foreground: 0 86% 97%;
    --tag-orange: 25 80% 25%;
    --tag-orange-foreground: 24 95% 98%;
    --tag-amber: 45 80% 25%;
    --tag-amber-foreground: 45 93% 98%;
    --tag-yellow: 60 80% 25%;
    --tag-yellow-foreground: 60 91% 98%;
    --tag-lime: 84 80% 25%;
    --tag-lime-foreground: 84 81% 98%;
    --tag-green: 142 76% 20%;
    --tag-green-foreground: 142 76% 97%;
    --tag-cyan: 180 83% 20%;
    --tag-cyan-foreground: 180 83% 97%;
    --tag-blue: 217 91% 25%;
    --tag-blue-foreground: 217 91% 98%;
    --tag-violet: 262 84% 30%;
    --tag-violet-foreground: 262 84% 98%;
    --tag-fuchsia: 312 84% 30%;
    --tag-fuchsia-foreground: 312 84% 98%;
    --tag-black: 240 3.7% 15.9%;
    --tag-black-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
